# #忽略所有的.a文件
# *.a


# # 但跟踪所有的lib.a, 即便你在前面忽略了.a文件, ! 表示取反
#  !lib.a 


# # 只忽略当前文件夹下的TODO文件，而不忽略subdir/TODO 
# /TODO 



# # 忽略任何目录下名为 build的文件夹

# build/

# #忽略 doc/notes.txt  但不忽略 doc/server/arch.txt 
# doc/*.txt



# # 忽略doc/ 目录及其所有子目录下的 .pdf 文件

# doc/**/*.pdf

# 忽略任何目录下名为 node_modules 的文件夹

node_modules/

